<% content_for :extra_js do %>
	$('.card-gallery').gallery();
<% end %>

<section class="main-image" style="background-image: url('<%= asset_path('main-image-7.jpg') %>')"></section>
<div class="page-content">
	<%= render 'partials/search_box' %>
	<section class="pad-xs-S-70">
		<div class="container bg-white">
			<div class="section-title">
				<h2><%= @operation_type == :buy ? 'Comprar' : 'Alquilar' %></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div>
				<%= render @properties %>
			</div>
			<div class="text-center mar-xs-N-70">
				<%= link_to '#' do %>
					Ver Más &nbsp;<i class="fa fa-arrow-circle-down"></i>
				<% end %>
			</div>
		</div>
	</section>
</div>