<section class="pad-xs-N-50 pad-xs-S-70">
	<div class="container">
		<div class="section-title">
			<h2>Partners</h2>
			<p class="wide">Algunas empresas con las que trabajamos desde hace 45 años, y que nos ayudan a brindar la mayor excelencia en servicios inmobiliarios, completando la experiencia de comprar y vender de la manera mas segura y confiable.</p>
		</div>
		<div class="row text-center">
			<div class="partner-logos clear-both">
				<div class="partner-logo">
					<div class="vertical-align">
						<div class="middle">
							<%= link_to 'http://www.gurfein-todres.com/', title: 'Gurfein & Todres Abogados', target: '_blank' do %>
								<%= image_tag 'logo-gurfein-todres.png' %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="partner-logo">
					<div class="vertical-align">
						<div class="middle">
							<%= link_to 'http://www.graficainmobiliaria.com.ar/', title: 'Gráfica Inmobiliaria', target: '_blank' do %>
								<%= image_tag 'logo-gi.png' %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="partner-logo">
					<div class="vertical-align">
						<div class="middle">
							<%= link_to 'http://www.gestionexpress.com.ar/', title: 'Gestión Express', target: '_blank' do %>
								<%= image_tag 'logo-gestion-express.jpg' %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="partner-logo">
					<div class="vertical-align">
						<div class="middle">
							<%= link_to 'javascript:void(0)', title: 'Escribana Natialia Buenos' do %>
								<%= image_tag 'logo-escribana-natalia.png' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>