<section class="pad-xs-S-70">
	<div class="container">
		<div class="section-title">
			<h2>Emprendimientos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-1.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Palermo</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-2.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Villa Urquiza</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-3.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Recoleta</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-4.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Villa Devoto</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-5.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Cañitas</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-6.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">San Telmo</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-7.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Belgrano</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
			<div class="col-xs-3">
				<%= link_to '#', class: 'tile tile-sm' do %>
					<div class="tile-image">
						<%= image_tag 'ventures-8.jpg', class: 'cover' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">La Boca</h2>
						<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
					</div>
				<% end %>
			</div>
		</div>
		<div class="text-center mar-xs-N-30">
			<%= link_to '#' do %>
				Ver Más &nbsp;<i class="fa fa-arrow-circle-right"></i>
			<% end %>
		</div>
	</div>
</section>