<% format = :default unless local_assigns.has_key? :format %>
<% card_actions = true unless local_assigns.has_key? :card_actions %>
<% checkable = (format == :default ? true : false) unless local_assigns.has_key? :checkable %>

<div class="panel-card actions-toggle ajax-put-holder <%= 'checkable' if checkable %> <%= 'small-actions' if format == :development %>" id="property_<%= property.id %>">
	<% if checkable %>
		<div class="panel-card-checkbox">
			<label class="checkbox-inline">
			  <input class="checkbox-target" type="checkbox" name="property[ids][]" id="property_id_<%= property.id %>" value="<%= property.id %>">
			</label>
		</div>
	<% end %>
	<% if property.contacts.present? %>
		<%= link_to property_contacts_path(property), class: 'panel-card-notifications' do %>
			<% if (count = property.contacts.unread.count) > 0 %>
				<i class="fa fa-circle" aria-hidden="true"></i>
				<span><%= count %></span>
			<% else %>
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			<% end %>
		<% end %>
	<% end %>
	<%= link_to property, class: 'panel-card-link' do %>
		<div class="panel-card-image">
			<%= image_tag property.images.first.item.url(:thumb) rescue nil %>
		</div>
		<div class="panel-card-content">
			<h2><%= property.title %></h2>
			<div class="panel-card-price">
				<% if property.for_sale? %>
				  <span>
				  	<strong>Venta: </strong>
				  	<%= currency property.sale_price, property.currency_for(:sale) + ' ' %>
				  </span>
				  &nbsp;
				<% end %>
				<% if property.for_rent? %>
				  <span>
				  	<strong>Alquiler: </strong>
				  	<%= currency property.rent_price, property.currency_for(:rent) + ' ' %>
				  </span>
				  &nbsp;
				<% end %>
			</div>
			<% if format == :default %>
				<div class="panel-card-status">
					<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					<%= property.created_at.strftime('%d/%m/%Y') %>
					> <span class="ajax-put-target" data-status='{ "property": "Editando", "characteristics": "Editando", "multimedia": "Editando", "active": "Activa", "inactive": "Pausada", "copy": "Pausada" }'>
						<% if property.draft? %>
							Editando
						<% elsif property.active? %>
							Activa
						<% else %>
							Pausada
						<% end %>
					</span>
				</div>
			<% end %>
		</div>
	<% end %>
	<% if card_actions %>
		<div class="panel-card-actions">
			<div class="panel-card-actions-toggle" data-class-toggler="{{parent}}" data-class="active">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</div>
			<%= link_to property, method: :delete, data: { confirm: '¿Seguro querés eliminar esta propiedad?' } do %>
				<i class="fa fa-trash-o fa-fh" aria-hidden="true"></i>
				<span>Eliminar</span>
			<% end %>
			<% if format == :default %>
				<%= link_to edit_property_path(property) do %>
					<i class="fa fa-pencil fa-fh" aria-hidden="true"></i>
					<span>Editar</span>
				<% end %>
			<% end %>
			<% if format == :development %>
				<%= link_to edit_development_path(property.development, development_step_from_status(:properties), property) do %>
					<i class="fa fa-pencil fa-fh" aria-hidden="true"></i>
					<span>Editar</span>
				<% end %>
			<% end %>
			<%= link_to clone_property_path(property), method: :put, class: 'disable-after-click' do %>
				<i class="fa fa-clone fa-fh" aria-hidden="true"></i>
				<span>Duplicar</span>
			<% end %>
			<% if format == :default %>
				<%= link_to property, class: 'ajax-put ' + (property.active? ? 'active' : ''), data: { status: (property.active? ? :inactive : :active), ajax_toggle: { status: [:active, :inactive] }.to_json } do %>
					<i class="fa fa-spinner fa-pulse fa-fh"></i>
					<i class="fa fa-pause fa-fh active" aria-hidden="true"></i>
					<i class="fa fa-play fa-fh inactive" aria-hidden="true"></i>
					<span class="inactive">Activar</span>
					<span class="active">Desactivar</span>
				<% end %>
			<% end %>
			<%= link_to property do %>
				<i class="fa fa-external-link fa-fh" aria-hidden="true"></i>
				<span>Ver</span>
			<% end %>
			<% if format == :default %>
				<%= link_to '#', class: 'showcase-item-toggle ' + (property.showcase_item.present? ? 'active' : ''), data: { id: (property.showcase_item.id rescue nil), showcaseable_id: property.id, showcaseable_type: 'Property' } do %>
					<i class="fa fa-spinner fa-pulse fa-fh"></i>
					<i class="fa fa-star fa-fh" aria-hidden="true"></i>
					<i class="fa fa-star-o fa-fh" aria-hidden="true"></i>
					<span>Showcase</span>
				<% end %>
			<% end %>
			<%= link_to '#', class: 'promotion-toggle ' + (property.promotion.present? ? 'active' : ''), data: { id: (property.promotion.id rescue nil), promotionable_id: property.id, promotionable_type: 'Property' } do %>
				<i class="fa fa-spinner fa-pulse fa-fh"></i>
				<i class="fa fa-toggle-on fa-fh" aria-hidden="true"></i>
				<i class="fa fa-toggle-off fa-fh" aria-hidden="true"></i>
				<span>Promoción</span>
			<% end %>
		</div>
	<% end %>
</div>