<% content_for :extra_js do %>
  $('.card-gallery').gallery({ toggle: '.fullscreen-gallery' });
  $('.fullscreen-gallery').gallery({ fullscreen: true });
<% end %>

<% content_for :extra_script do %>
  <script type="text/javascript">
    var startMap = function() {
      Maps.file(<%= property.lat %>, <%= property.lng %>);
    };
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
<% end %>

<%= render 'partials/gallery', gallery_class: 'fullscreen-gallery', images: @property.images, fullscreen: true %>
<% if admin_signed_in? %>
  <div class="admin-options btn-group btn-group-justified">
    <%= link_to properties_path, class: 'btn btn-warning' do %>
      <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Volver al listado
    <% end %>
    <%= link_to edit_property_path(property), class: 'btn btn-primary' do %>
      <i class="fa fa-file-text-o" aria-hidden="true"></i> Principal
    <% end %>
    <%= link_to edit_property_path(property, property_step_from_status(:characteristics)), class: 'btn btn-info' do %>
      <i class="fa fa-list-alt" aria-hidden="true"></i> Caracteristicas
    <% end %>
    <%= link_to edit_property_path(property, property_step_from_status(:multimedia)), class: 'btn btn-danger' do %>
      <i class="fa fa-camera-retro" aria-hidden="true"></i> Multimedia
    <% end %>
    <%= link_to clone_property_path(property), method: :put, class: 'btn btn-warning' do %>
      <i class="fa fa-clone fa-fh" aria-hidden="true"></i> Duplicar
    <% end %>
    <%= link_to '#', class: 'btn btn-info' do %>
      <i class="fa fa-ban fa-fh" aria-hidden="true"></i> Pausar
    <% end %>
    <%= link_to property, method: :delete, data: { confirm: '¿Seguro querés eliminar esta propiedad?' }, class: 'btn btn-danger' do %>
      <i class="fa fa-trash-o fa-fh" aria-hidden="true"></i> Eliminar
    <% end %>
  </div>
<% end %>
<div class="card card-compress property">
  <%= render 'partials/gallery', gallery_class: 'card-gallery', images: property.images, toggle: true %>
  <div class="card-body">
    <h2 class="card-title"><%= property.title %></h2>
    <div class="card-text">
      <%= property.address %> | <%= property.zone.name %> | <%= property.short %>
    </div>
    <div class="card-text">
      EXPENSAS: &nbsp; <%= currency property.expenses, '$ ' %><br>
      SUPERFICIE: &nbsp; <%= property.area %>
      <% if Property.area_units[property.area_unit] == 0 %>
        m<sup>2</sup>
      <% else %>
        ha
      <% end %>
    </div>
    <div class="card-price">
      <% if property.for_sale? %>
        <div class="price-box <%= 'pull-left' if property.for_rent? %>">
          <h4>Venta</h4>
          <strong><big><%= currency property.sale_price, property.currency_for(:sale) + ' ' %></big></strong>
        </div>
      <% end %>
      <% if property.for_rent? %>
        <div class="price-box <%= 'pull-right' if property.for_sale? %>">
          <h4>Alquiler</h4>
          <strong><big><%= currency property.rent_price, property.currency_for(:rent) + ' ' %></big></strong>
        </div>
      <% end %>
    </div>
    <!--span class="card-text">
      Ver publicación en &nbsp;
      <%= link_to '#', class: 'partner-logo sm' do %>
        <%= image_tag 'logo-zonaprop-grey-bg.jpg' %>
      <% end %>
    </span-->
  </div>
</div>
<div class="content-wall">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="title">Descripción</h3>
      <div class="tinymce-content mar-xs-S-50">
        <%= property.description.html_safe %>
        <br><br>
        <strong>
          BEIGEL BIENES RAÍCES | <%= link_to '4553-1700', 'tel:+541145531700', class: 'text-link' %>
        </strong>
      </div>
    </div>
    <% if property.characteristics.services.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Srevicios</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.services.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.environments.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Ambientes</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.environments.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.services.present? && property.characteristics.environments.present? %>
      <div class="clearfix"></div>
    <% end %>
    <% if property.characteristics.extended.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Detalles</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.extended.each do |characteristic| %>
            <% if characteristic.has_options && characteristic.option_value.present? %>
              <li>- <strong><%= characteristic.title %>:</strong><br>&nbsp; &nbsp; &nbsp;<%= characteristic.option_value %>.</li>
            <% elsif !characteristic.has_options %>
              <li>- <strong><%= characteristic.title %>.</strong></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.services.present? && !property.characteristics.environments.present? || !property.characteristics.services.present? && property.characteristics.environments.present? %>
      <div class="clearfix"></div>
    <% end %>
    <% if property.characteristics.general.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Adicionales</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.general.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= link_to 'Otros inmuebles similares', '#', class: 'btn btn-primary btn-fix' %>
</div>
<div class="content-wall-20">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="map-xs-300">
        <div class="map-canvas" id="file-map"></div>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="map-xs-300">
        <div class="map-canvas" id="file-street"></div>
      </div>
    </div>
  </div>
</div>