<% content_for :extra_js do %>
  $('.card-gallery').gallery({ toggle: '.fullscreen-gallery' });
  $('.fullscreen-gallery').gallery({ fullscreen: true });
  <% if admin_signed_in? %>
    Panel.showcaseToggle('<%= showcase_items_path %>');
    Panel.promotionToggle('<%= promotions_path %>');
  <% end %>
<% end %>

<% content_for :extra_script do %>
  <script type="text/javascript">
    var startMap = function() {
      Maps.file(<%= property.lat %>, <%= property.lng %>);
    };
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
<% end %>

<%= render 'partials/gallery', gallery_class: 'fullscreen-gallery', images: property.images, fullscreen: true %>
<% if admin_signed_in? %>
  <div class="admin-options btn-group btn-group-justified">
    <% if property.development.present? %>
      <%= link_to property.development, class: 'btn btn-sm btn-warning' do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Ver emprendimiento
      <% end %>
    <% else %>
      <%= link_to properties_path, class: 'btn btn-sm btn-warning' do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Ir al listado
      <% end %>
    <% end %>
    <% if property.contacts.present? %>
      <%= link_to property_contacts_path(property), class: 'btn btn-sm btn-info' do %>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <% if (count = property.contacts.unread.count) > 0 %>
          <%= pluralize count, 'notificacion', 'notificaciones' %> sin leer
        <% else %>
          Notificaciones
        <% end %>
      <% end %>
    <% end %>
    <%= link_to clone_property_path(property), method: :put, class: 'btn btn-sm btn-primary' do %>
      <i class="fa fa-clone fa-fh" aria-hidden="true"></i> Duplicar
    <% end %>
    <% if property.development.blank? %>
      <%= link_to '#', class: 'btn btn-sm btn-warning', data: { submit: 'form.edit_property' } do %>
        <% if property.active? %>
          <i class="fa fa-pause fa-fh" aria-hidden="true"></i> Pausar
        <% else %>
          <i class="fa fa-play fa-fh" aria-hidden="true"></i> Activar
        <% end %>
      <% end %>
    <% end %>
    <%= link_to property, method: :delete, data: { confirm: '¿Seguro querés eliminar esta propiedad?' }, class: 'btn btn-sm btn-danger' do %>
      <i class="fa fa-trash-o fa-fh" aria-hidden="true"></i> Eliminar
    <% end %>
  </div>
  <div class="admin-options btn-group btn-group-justified">
    <% if property.development.present? %>
      <%= link_to edit_development_path(property.development, development_step_from_status(:properties), property), class: 'btn btn-sm btn-primary' do %>
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Editar
      <% end %>
    <% else %>
      <%= link_to edit_property_path(property), class: 'btn btn-sm btn-warning' do %>
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Principal
      <% end %>
      <%= link_to edit_property_path(property, property_step_from_status(:characteristics)), class: 'btn btn-sm btn-info' do %>
        <i class="fa fa-list-alt" aria-hidden="true"></i> Caracteristicas
      <% end %>
      <%= link_to edit_property_path(property, property_step_from_status(:multimedia)), class: 'btn btn-sm btn-danger' do %>
        <i class="fa fa-camera-retro" aria-hidden="true"></i> Multimedia
      <% end %>
    <% end %>
    <% if property.development.blank? %>
      <%= link_to '#', class: 'btn btn-sm btn-info showcase-item-toggle ' + (property.showcase_item.present? ? 'active' : ''), data: { id: (property.showcase_item.id rescue nil), showcaseable_id: property.id, showcaseable_type: 'Property' } do %>
        <i class="fa fa-spinner fa-pulse fa-fh"></i>
        <i class="fa fa-star fa-fh" aria-hidden="true"></i>
        <i class="fa fa-star-o fa-fh" aria-hidden="true"></i>
        <span>Showcase</span>
      <% end %>
    <% end %>
    <%= link_to '#', class: 'btn btn-sm btn-default promotion-toggle ' + (property.promotion.present? ? 'active' : ''), data: { id: (property.promotion.id rescue nil), promotionable_id: property.id, promotionable_type: 'Property' } do %>
      <i class="fa fa-spinner fa-pulse fa-fh"></i>
      <i class="fa fa-toggle-on fa-fh" aria-hidden="true"></i>
      <i class="fa fa-toggle-off fa-fh" aria-hidden="true"></i>
      <span>Promoción</span>
    <% end %>
  </div>
  <%= form_for property do |f| %>
    <%= f.hidden_field :status, value: (property.active? ? :inactive : :active) %>
  <% end %>
<% end %>
<div class="card card-compress property">
  <%= render 'partials/gallery', gallery_class: 'card-gallery', images: property.images, toggle: true %>
  <div class="card-body">
    <h2 class="card-title">
      <%= property.title %>
      <% if admin_signed_in? %>
        <% if property.draft? %>
          <small> > Editando</small>
        <% elsif property.active? %>
          <small> > Activa</small>
        <% else %>
          <small> > Pausada</small>
        <% end %>
      <% end %>
    </h2>
    <div class="card-text">
      <%= property.address %> | <%= property.zone.name %> | <%= property.short %>
    </div>
    <div class="card-text">
      EXPENSAS: &nbsp; <%= currency property.expenses, '$ ' %><br>
      SUPERFICIE: &nbsp; <%= property.area %>
      <% if Property.area_units[property.area_unit] == 0 %>
        m<sup>2</sup>
      <% else %>
        ha
      <% end %>
      <br>
      AMBIENTES: &nbsp; <%= property.environments %>
    </div>
    <div class="card-price">
      <% if property.for_sale? %>
        <div class="price-box <%= 'pull-left' if property.for_rent? %>">
          <h4>Venta</h4>
          <strong><big><%= currency property.sale_price, property.currency_for(:sale) + ' ' %></big></strong>
        </div>
      <% end %>
      <% if property.for_rent? %>
        <div class="price-box <%= 'pull-right' if property.for_sale? %>">
          <h4>Alquiler</h4>
          <strong><big><%= currency property.rent_price, property.currency_for(:rent) + ' ' %></big></strong>
        </div>
      <% end %>
    </div>
    <!--span class="card-text">
      Ver publicación en &nbsp;
      <%= link_to '#', class: 'partner-logo sm' do %>
        <%= image_tag 'logo-zonaprop-grey-bg.jpg' %>
      <% end %>
    </span-->
  </div>
</div>
<div class="content-wall">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="title">Descripción</h3>
      <div class="tinymce-content mar-xs-S-50">
        <%= property.description.html_safe %>
        <br><br>
        <strong>
          BEIGEL BIENES RAÍCES | <%= link_to '4553-1700', 'tel:+541145531700', class: 'text-link' %>
        </strong>
      </div>
    </div>
    <% if property.characteristics.services.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Srevicios</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.services.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.environments.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Ambientes</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.environments.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.services.present? && property.characteristics.environments.present? %>
      <div class="clearfix"></div>
    <% end %>
    <% if property.characteristics.extended.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Detalles</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.extended.each do |characteristic| %>
            <% if characteristic.has_options && characteristic.option_value.present? %>
              <li>- <strong><%= characteristic.title %>:</strong><br>&nbsp; &nbsp; &nbsp;<%= characteristic.option_value %>.</li>
            <% elsif !characteristic.has_options %>
              <li>- <strong><%= characteristic.title %>.</strong></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if property.characteristics.services.present? && !property.characteristics.environments.present? || !property.characteristics.services.present? && property.characteristics.environments.present? %>
      <div class="clearfix"></div>
    <% end %>
    <% if property.characteristics.general.present? %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title">Adicionales</h3>
        <ul class="list-unstyled mar-xs-S-50 column-gap-sm-2-10">
          <% property.characteristics.general.each do |characteristic| %>
            <li>- <%= characteristic.title %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <% if property.development.present? %>
    <%= link_to 'Ver inmuebles del emprendimiento', development_file_path(property.development), class: 'btn btn-primary btn-fix' %>
  <% end %>
</div>
<% if false %>
  <div class="scroll-900">
    <div class="scroll-window">
      <table class="content-table">
        <thead>
          <tr>
            <th>Direccion</th>
            <th>Ambientes</th>
            <th>Sup. Cubierta</th>
            <th>Sup. Total</th>
            <th>Cochera</th>
            <th>Venta</th>
            <th>Alquiler</th>
          </tr>
        </thead>
        <tbody>
          <% [ { address: 'Caboto 420', rooms: 3, covered_area: 92.00, area: 95.70, garage: 'No', sale_price: 2522898, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 94.16, area: 98.02, garage: 'No', sale_price: 2332313, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 89.41, area: 94.00, garage: 'No', sale_price: 2324889, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 75.41, area: 78.00, garage: 'No', sale_price: 2029176, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 58.59, area: 93.68, garage: 'No', sale_price: 1955504, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 84.68, area: 87.21, garage: 'No', sale_price: 1945850, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 92.00, area: 95.70, garage: 'No', sale_price: 2522898, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 94.16, area: 98.02, garage: 'No', sale_price: 2332313, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 89.41, area: 94.00, garage: 'No', sale_price: 2324889, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 75.41, area: 78.00, garage: 'No', sale_price: 2029176, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 58.59, area: 93.68, garage: 'No', sale_price: 1955504, rent_price: nil }, { address: 'Caboto 420', rooms: 3, covered_area: 84.68, area: 87.21, garage: 'No', sale_price: 1945850, rent_price: nil } ].each do |unit| %>
            <tr>
              <td><%= unit[:address] %></td>
              <td><%= unit[:rooms] %></td>
              <td><%= unit[:covered_area] %></td>
              <td><%= unit[:area] %></td>
              <td><%= unit[:garage] %></td>
              <td><%= currency unit[:sale_price], '$' %></td>
              <td><%= currency unit[:rent_price], '$' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="content-wall-20">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="map-xs-300">
        <div class="map-canvas" id="file-map"></div>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="map-xs-300">
        <div class="map-canvas" id="file-street"></div>
      </div>
    </div>
  </div>
</div>