<% content_for :extra_js do %>
  Forms.Property.characteristics();
<% end %>

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.hidden_field :status, value: :draft_multimedia %>
  </div>
  <% if @property.property_type.characteristics.services.present? %>
    <div class="field">
      <h3 class="field-title">
        Servicios
        <label class="checkbox-inline">
          <%= check_box_tag :select_all, nil, nil, data: { target: '.property_services' } %>
          Todos
        </label>
      </h3>
      <div class="row">
        <% @property.property_type.characteristics.services.each do |char| %>
          <div class="col-xs-4">
            <label class="checkbox-inline">
              <%= check_box_tag 'property[characteristics][]', char.acid, @property.characteristics.where(:available_characteristic => char.acid).present?, id: 'property_characteristics_' + char.acid.to_s, class: 'property_services' %>
              <%= char.title %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @property.property_type.characteristics.extended.present? %>
    <div class="field">
      <h3 class="field-title">
        Principales
        <label class="checkbox-inline">
          <%= check_box_tag :select_all, nil, nil, data: { target: '.property_extended' } %>
          Todos
        </label>
      </h3>
      <div class="row">
        <% @property.property_type.characteristics.extended.each do |char| %>
          <% @property_char = @property.characteristics.find_by :available_characteristic => char.acid %>
          <div class="col-xs-4">
            <label class="checkbox-inline">
              <%= check_box_tag 'property[characteristics][]', char.acid, @property_char.present?, id: 'property_characteristics_' + char.acid.to_s, class: 'property_extended' %>
              <%= char.title %>
            </label>
            <% if char.options.present? && options = JSON.parse(char.options) %>
              <span class="characteristic-option">
                <% if options.include?('type') && options['type'].present? && options['type'].to_sym == :integer %>
                  <%= text_field_tag 'property[options][' + char.acid.to_s + ']', (@property_char.option_value rescue nil), class: 'autonumeric' %>
                <% else %>
                  <%= select_tag 'property[options][' + char.acid.to_s + ']', options_for_select(options, (@property_char.option_value rescue nil)) %>
                <% end %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @property.property_type.characteristics.environments.present? %>
    <div class="field">
      <h3 class="field-title">
        Ambientes
        <label class="checkbox-inline">
          <%= check_box_tag :select_all, nil, nil, data: { target: '.property_environments' } %>
          Todos
        </label>
      </h3>
      <div class="row">
        <% @property.property_type.characteristics.environments.each do |char| %>
          <div class="col-xs-4">
            <label class="checkbox-inline">
              <%= check_box_tag 'property[characteristics][]', char.acid, @property.characteristics.where(:available_characteristic => char.acid).present?, id: 'property_characteristics_' + char.acid.to_s, class: 'property_environments' %>
              <%= char.title %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @property.property_type.characteristics.general.present? %>
    <div class="field">
      <h3 class="field-title">
        Generales
        <label class="checkbox-inline">
          <%= check_box_tag :select_all, nil, nil, data: { target: '.property_general' } %>
          Todos
        </label>
      </h3>
      <div class="row">
        <% @property.property_type.characteristics.general.each do |char| %>
          <div class="col-xs-4">
            <label class="checkbox-inline">
              <%= check_box_tag 'property[characteristics][]', char.acid, @property.characteristics.where(:available_characteristic => char.acid).present?, id: 'property_characteristics_' + char.acid.to_s, class: 'property_general' %>
              <%= char.title %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
