<% content_for :extra_js do %>
  Forms.Property.new();
<% end %>
<% content_for :extra_script do %>
  <script type="text/javascript">
    var startMap = function() {
      Maps.newProperty();
    };
    (function() {
      if (!Maps.centered.map) $('body').append($('<script>', { async: true, defer: true, src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDsrnIHj474TA_EAZ4XIw8LToEt8-V23uM&callback=startMap' }));
      else startMap();
    })();
  </script>
<% end %>

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.hidden_field :status, value: (@property.active? ? :active : :draft_characteristics) %>
  </div>
  <div class="field">
    <%= f.label :title, 'Titulo' %><br>
    <%= f.text_field :title, minlength: 10, required: true %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description, rows: 4, minlength: 30, required: true %>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :property_type_id, 'Tipo de propiedad' %><br>
        <%= f.select :property_type_id, options_from_collection_for_select(PropertyType.all, :id, :name, @property.property_type_id), { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-4">
        <%= f.label :age, 'Antigüedad' %><br>
        <%= f.select :age, options_for_select([ ['En construcción', -1], ['A estrenar', 0], ['1 año', 1], ['2 años', 2], ['3 años', 3], ['4 años', 4], ['de 5 a 10 años', 5], ['de 10 a 20 años', 10], ['de 20 a 50 años', 20], ['Mas de 50 años', 50] ], @property.age || 0) %>
      </div>
      <div class="col-xs-4">
        <%= f.label :environments, 'Ambientes' %><br>
        <%= f.select :environments, options_for_select([1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.environments || 1) %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :bathrooms, 'Baños' %><br>
        <%= f.select :bathrooms, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.bathrooms || 0) %>
      </div>
      <div class="col-xs-4">
        <%= f.label :toilettes, 'Toilettes' %><br>
        <%= f.select :toilettes, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.toilettes || 0) %>
      </div>
      <div class="col-xs-4">
        <%= f.label :garages, 'Cocheras' %><br>
        <%= f.select :garages, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.garages || 0) %>
      </div>
    </div>
  </div>
  <div class="field">
    <h3 class="field-title">Precio</h3>
    <div class="row">
      <div class="col-xs-2">
        <%= f.label :sale_currency, '&nbsp'.html_safe %><br>
        <%= f.select :sale_currency, options_for_select(Property.currencies, @property.sale_currency), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-4">
        <%= f.label :sale_price, 'Precio de venta' %><br>
        <%= f.text_field :sale_price, class: 'autonumeric' %>
      </div>
      <div class="col-xs-2">
        <%= f.label :rent_currency, '&nbsp'.html_safe %><br>
        <%= f.select :rent_currency, options_for_select(Property.currencies, @property.rent_currency || 1), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-4">
        <%= f.label :rent_price, 'Precio de alquiler' %><br>
        <%= f.text_field :rent_price, class: 'autonumeric' %>
      </div>
    </div>
  </div>
  <div class="field">
    <h3 class="field-title">Dimensiones</h3>
    <div class="row">
      <div class="col-xs-2">
        <%= f.label :area_unit, '&nbsp'.html_safe %><br>
        <%= f.select :area_unit, options_for_select(Property.area_units.keys, @property.area_unit), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-5">
        <%= f.label :constructed_area, 'Sup. cubierta' %><br>
        <%= f.text_field :constructed_area, required: true, class: 'autonumeric' %>
      </div>
      <div class="col-xs-5">
        <%= f.label :unconstructed_area, 'Sup. descubierta' %><br>
        <%= f.text_field :unconstructed_area, required: true, class: 'autonumeric' %>
      </div>
    </div>
  </div>
  <div class="field">
    <h3 class="field-title">Ubicación</h3>
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :zone_id, 'Barrio' %><br>
        <%= f.select :zone_id, options_from_collection_for_select(Zone.all, :id, :name, @property.zone_id), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-4">
        <%= f.label :address, 'Dirección' %><br>
        <%= f.text_field :address, required: true %>
      </div>
      <div class="col-xs-4">
        <%= f.label :zip_code, 'Código Postal' %><br>
        <%= f.text_field :zip_code %>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div class="hidden">
      <%= f.hidden_field :lat, required: true %>
      <%= f.hidden_field :lng, required: true %>
    </div>
    <a href="#" class="btn btn-block btn-warning btn-sm" id="geocode_btn">Ubicar en mapa</a>
    <div id="new_property_map"></div>
  </div>
  <div class="actions">
    <%= f.submit (@property.active? ? 'Actualizar' : 'Siguiente') %>
  </div>
<% end %>
