<% content_for :extra_js do %>
  Forms.Property.multimedia(<%= @property.id %>);
<% end %>

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.hidden_field :status, value: :active %>
    <%= file_field_tag 'file_picker', multiple: true, required: true, accept: 'image/*', data: { :images => '.file-picker-images', :template => '#file_picker_template' } %>
  </div>
  <div class="field file-picker">
    <h3 class="field-title">Fotos</h3>
    <%= label_tag 'file_picker', nil, class: 'file-picker-label' do %>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span>Agregar imágenes</span>
    <% end %>
    <div class="file-picker-images">
      <% @property.images.each_with_index do |image, index| %>
        <div class="file-picker-image" id="file_picker_<%= index %>" data-id="<%= image.id %>" data-position="<%= image.position %>">
          <a href="#" class="delete" data-id="<%= index %>"><i class="fa fa-times" aria-hidden="true"></i></a>
          <div class="image" style="background-image:url(<%= asset_path image.item.url(:thumb) %>)"></div>
          <div class="input">
            <input type="text" name="property[image_titles][<%= image.id %>]" id="property_image_titles_<%= image.id %>" value="<%= image.title %>">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="file-picker-image" id="file_picker_template">
  <a href="#" class="delete"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="image"></div>
  <div class="input">
    <input type="text" name="property[image_titles][]" id="property_image_titles_">
  </div>
</div>