<% content_for :extra_js do %>
  Property.nav();
<% end %>

<ul class="nav nav-tabs" id="edit_property_nav">
  <li role="presentation" class="<%= 'active' if property_step_for? :property %>">
  	<%= link_to 'Principal', '#', data: { property_status: :property } %>
  </li>
  <li role="presentation" class="<%= 'active' if property_step_for? :characteristics %>">
  	<%= link_to 'Caracteristicas', '#', data: { property_status: :characteristics } %>
  </li>
  <li role="presentation" class="<%= 'active' if property_step_for? :multimedia %>">
  	<%= link_to 'Multimedia', '#', data: { property_status: :multimedia } %>
  </li>
</ul>