<h1>Editing Property</h1>

<% if property_step :property %>
	<%= render 'form' %>
<% elsif property_step :characteristics %>
	<%= render 'form_characteristics' %>
<% elsif property_step :multimedia %>
<% else %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
