<% content_for :extra_js do %>
  Forms.Property.nav();
<% end %>

<h1><b>Inmueble</b> <small><%= @property.title %></small></h1>

<ul class="nav nav-tabs" id="edit_property_nav">
  <li role="presentation" class="<%= 'active' if property_step :property %>">
  	<%= link_to 'Principal', '#', data: { property_status: :draft_property } %>
  </li>
  <li role="presentation" class="<%= 'active' if property_step :characteristics %>">
  	<%= link_to 'Caracteristicas', '#', data: { property_status: :draft_characteristics } %>
  </li>
  <li role="presentation" class="<%= 'active' if property_step :multimedia %>">
  	<%= link_to 'Multimedia', '#', data: { property_status: :draft_multimedia } %>
  </li>
</ul>

<% if property_step :property %>
	<%= render 'form' %>
<% elsif property_step :characteristics %>
	<%= render 'form_characteristics' %>
<% elsif property_step :multimedia %>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
