<% content_for :extra_js do %>
	Utils.init();
	Panel.showcaseToggle('<%= showcase_items_path %>');
<% end %>

<%= render 'partials/search_filters' %>

<h1 style="margin-bottom:30px;"><i class="fa fa-home fa-fh" aria-hidden="true"></i> Inmuebles <%= link_to 'Crear nueva', new_property_path, class: 'pull-right btn btn-warning' %></h1>
<p><%= page_entries_info @properties %></p>

<% @properties.each do |property| %>
	<%= render 'card', property: property %>
<% end %>

<%= will_paginate @properties %>