<%= render 'partials/main_slider' %>
<div class="page-content">
	<section class="pad-xs-S-70">
		<div class="container bg-white">
			<div class="section-title">
				<h2>Empresas amigas</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div>
				<%= link_to 'https://www.neoda.com/', target: '_blank', class: 'card' do %>
					<div class="card-image">
						<%= image_tag 'friends-neoda.jpg', class: 'cover' %>
					</div>
					<div class="card-body">
						<h2 class="card-title">20% de descuento y 12 cuotas sin interes.</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				<% end %>
				<%= link_to 'http://www.pintureriasrex.com/', target: '_blank', class: 'card' do %>
					<div class="card-image">
						<%= image_tag 'friends-rex.jpg', class: 'cover' %>
					</div>
					<div class="card-body">
						<h2 class="card-title">25% de descuento con la compra de 20 litros o mas.</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				<% end %>
				<%= link_to 'http://www.electra.com.ar/', target: '_blank', class: 'card' do %>
					<div class="card-image">
						<%= image_tag 'friends-electra.jpg', class: 'cover' %>
					</div>
					<div class="card-body">
						<h2 class="card-title">25% de descuento y 6 cuotas sin interes.</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				<% end %>
				<%= link_to 'http://www.ribeiro.com.ar/', target: '_blank', class: 'card' do %>
					<div class="card-image">
						<%= image_tag 'friends-ribeiro.jpg', class: 'cover' %>
					</div>
					<div class="card-body">
						<h2 class="card-title">15% de descuento y 6 cuotas sin interes en led tvs.</h2>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				<% end %>
			</div>
		</div>
	</section>
</div>