<%= render 'partials/main_slider' %>
<div class="page-content">
	<%= render 'partials/search_box' %>
	<%= render 'partials/services' %>
	<%= render 'partials/promotions' %>
	<%= render 'partials/developments' %>
	<%= render 'partials/contact' %>
	<%= render 'partials/partners' %>
</div>