<% content_for :extra_js do %>
  Panel.contacts();
  $('[title]').tooltip();
<% end %>

<% if @object.present? %>
  <% @table_order_path = development_contacts_path(@object) if @object.class.name == 'Development' %>
  <% @table_order_path = property_contacts_path(@object) if @object.class.name == 'Property' %>
<% end %>

<div class="hidden">
  <%= form_for contacts_path, method: :delete, html: { id: 'destroy_all' }, data: { confirm: '¿Seguro eliminar?' } do %>
    <% if @object.present? %>
      <%= hidden_field_tag :after_destroy_path, request.path %>
    <% end %>
  <% end %>
  <%= form_tag (@table_order_path || contacts_path), method: :get, id: 'table-order' do %>
    <% if params[:filter].present? %>
      <% params[:filter].keys.each do |subject| %>
        <%= hidden_field :filter, subject %>
      <% end %>
    <% end %>
  <% end %>
  <% if @object.blank? %>
    <% Contact.subjects.keys.each do |subject| %>
      <%= form_tag contacts_path, method: :get, id: subject.to_s + '_filter' do %>
        <%= hidden_field :filter, subject %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1 style="margin-bottom:30px;">
  <i class="fa fa-exclamation-circle fa-fh" aria-hidden="true"></i> Notificaciones
  <% if @object.present? %>
    <small>Para: <%= link_to @object.title, @object %></small>
  <% end %>
</h1>

<% if @object.blank? %>
  <div class="admin-options btn-group btn-group-justified">
    <%= link_to 'Todos', contacts_path, class: 'btn btn-sm btn-default ' + (params[:filter].blank? ? 'active' : '') %>
    <% Contact.subjects.keys.each do |subject| %>
      <% class_append = params[:filter].present? && params[:filter].keys.include?(subject) ? 'active' : '' %>
      <%= link_to contact_subject_translate(subject), '#', class: 'btn btn-sm btn-default ' + class_append, data: { submit: '#' + subject + '_filter' } %>
    <% end %>
  </div>
<% end %>

<div class="admin-options btn-group pull-right">
  <%= link_to contacts_path, title: 'Marcar seleccionados como no leídos', class: 'btn btn-sm btn-warning disabled', data: { collect_ids: 'contact[ids][]', read: 0 } do %>
    <i class="fa fa-exclamation fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to contacts_path, title: 'Marcar seleccionados como leídos', class: 'btn btn-sm btn-primary disabled', data: { collect_ids: 'contact[ids][]', read: 1 } do %>
    <i class="fa fa-check fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to '#destroy_all', title: 'Eliminar seleccionados', class: 'btn btn-sm btn-danger disabled', data: { collect_ids: 'contact[ids][]' } do %>
    <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<p><%= page_entries_info @contacts %></p>

<% if @contacts.present? %>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>
          <label class="checkbox-inline" style="height:auto;line-height:inherit;">
            <input type="checkbox" name="select_all" data-target=".checkbox-target">
          </label>
        </th>
        <% if (params[:filter].keys.include? 'development' rescue false) || (params[:filter].keys.include? 'property' rescue false) || params[:filter].blank? %>
          <%= table_order 'Inmueble/Emprendimiento', :contactable %>
        <% end %>
        <%= table_order 'Name', :name %>
        <%= table_order 'Email', :email %>
        <%= table_order 'Tel', :tel %>
        <%= table_order 'Subject', :subject %>
        <%= table_order 'Fecha', :created_at, :desc %>
        <%= table_order '<i class="fa fa-exclamation fa-fw inactive" aria-hidden="true"></i>'.html_safe, :read %>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @contacts %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @properties %>
<% end %>