<% content_for :extra_js do %>
  Panel.tableOrder();
<% end %>

<div class="hidden">
  <%= form_tag contacts_path, method: :get, id: 'table-order' do %>
    <% if params[:filter].present? %>
      <% params[:filter].keys.each do |subject| %>
        <%= hidden_field :filter, subject %>
      <% end %>
    <% end %>
  <% end %>
  <% Contact.subjects.keys.each do |subject| %>
    <%= form_tag contacts_path, method: :get, id: subject.to_s + '_filter' do %>
      <%= hidden_field :filter, subject %>
    <% end %>
  <% end %>
</div>

<h1 style="margin-bottom:30px;"><i class="fa fa-exclamation-circle fa-fh" aria-hidden="true"></i> Notificaciones</h1>
<div class="admin-options btn-group btn-group-justified">
  <%= link_to 'Todos', contacts_path, class: 'btn btn-sm btn-default ' + (params[:filter].blank? ? 'active' : '') %>
  <% Contact.subjects.keys.each do |subject| %>
    <% class_append = params[:filter].present? && params[:filter].keys.include?(subject) ? 'active' : '' %>
    <%= link_to contact_subject_translate(subject), '#', class: 'btn btn-sm btn-default ' + class_append, data: { submit: '#' + subject + '_filter' } %>
  <% end %>
</div>

<p><%= page_entries_info @contacts %></p>

<% if @contacts.present? %>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <% if (params[:filter].keys.include? 'development' rescue false) || (params[:filter].keys.include? 'property' rescue false) || params[:filter].blank? %>
          <th <%= table_order :contactable_id %> >Inmueble/Emprendimiento</th>
        <% end %>
        <th <%= table_order :name %> >Name</th>
        <th <%= table_order :email %> >Email</th>
        <th <%= table_order :tel %> >Tel</th>
        <th <%= table_order :subject %> >Subject</th>
        <th <%= table_order :created_at %> >Fecha</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr class="<%= 'info' unless contact.read %>">
          <% if (params[:filter].keys.include? 'development' rescue false) || (params[:filter].keys.include? 'property' rescue false) || params[:filter].blank? %>
            <td>
              <% if contact.contactable.present? %>
                <%= link_to contact.contactable, class: 'table-photo-link' do %>
                  <%= image_tag contact.contactable.images.first.item.url(:thumb) %>
                  <span><%= contact.contactable.title %></span>
                <% end %>
              <% else %>
                -
              <% end %>
            </td>
          <% end %>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.tel %></td>
          <td><%= contact.subject_es %></td>
          <td><%= contact.created_at.strftime '%d-%m-%Y' %></td>
          <td>
            <%= link_to contact, style: "color:#00944B;" do %>
              <i class="fa fa-external-link fa-fh" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <%= link_to contact, style: "color:#E26E6E;", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o fa-fh fa-lg" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @properties %>
<% end %>