<% card_actions = true unless local_assigns.has_key? :card_actions %>
<% checkable = true unless local_assigns.has_key? :checkable %>

<div class="panel-card actions-toggle ajax-put-holder panel-card-actions-5 <%= 'checkable' if checkable %>" id="development_<%= development.id %>">
	<% if checkable %>
		<div class="panel-card-checkbox">
			<label class="checkbox-inline">
			  <input class="checkbox-target" type="checkbox" name="development[ids][]" id="development_id_<%= development.id %>" value="<%= development.id %>">
			</label>
		</div>
	<% end %>
	<% if development.contacts.present? %>
		<%= link_to development_contacts_path(development), class: 'panel-card-notifications' do %>
			<% if (count = development.contacts.unread.count) > 0 %>
				<i class="fa fa-circle" aria-hidden="true"></i>
				<span><%= count %></span>
			<% else %>
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			<% end %>
		<% end %>
	<% end %>
	<%= link_to development, class: 'panel-card-link' do %>
		<div class="panel-card-image">
			<%= image_tag development.images.first.item.url(:thumb) rescue nil %>
		</div>
		<div class="panel-card-content">
			<h2><%= development.title %></h2>
			<div class="panel-card-price">
				<% if development.for_sale? %>
					<% property = development.lowest_sale_price_property %>
				  <span>
				  	<strong>Venta desde: </strong>
				  	<%= currency property.sale_price, property.currency_for(:sale) + ' ' %>
				  </span>
				  &nbsp;
				<% end %>
				<% if development.for_rent? %>
					<% property = development.lowest_rent_price_property %>
				  <span>
				  	<strong>Alquiler desde: </strong>
				  	<%= currency property.rent_price, property.currency_for(:rent) + ' ' %>
				  </span>
				  &nbsp;
				<% end %>
			</div>
			<div class="panel-card-status">
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
				<%= development.created_at.strftime('%d/%m/%Y') %>
				> <span class="ajax-put-target" data-status='{ "development": "Editando", "properties": "Editando", "characteristics": "Editando", "multimedia": "Editando", "active": "Activa", "inactive": "Pausada", "copy": "Pausada" }'>
					<% if development.draft? %>
						Editando
					<% elsif development.active? %>
						Activa
					<% else %>
						Pausada
					<% end %>
				</span>
			</div>
		</div>
	<% end %>
	<% if card_actions %>
		<div class="panel-card-actions">
			<div class="panel-card-actions-toggle" data-class-toggler="{{parent}}" data-class="active">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</div>
			<%= link_to development, method: :delete, data: { confirm: '¿Seguro querés eliminar este emprendimiento?' } do %>
				<i class="fa fa-trash-o fa-fh" aria-hidden="true"></i>
				<span>Eliminar</span>
			<% end %>
			<%= link_to edit_development_path(development) do %>
				<i class="fa fa-pencil fa-fh" aria-hidden="true"></i>
				<span>Editar</span>
			<% end %>
			<%= link_to development, class: 'ajax-put ' + (development.active? ? 'active' : ''), data: { status: (development.active? ? :inactive : :active), ajax_toggle: { status: [:active, :inactive] }.to_json } do %>
				<i class="fa fa-spinner fa-pulse fa-fh"></i>
				<i class="fa fa-pause fa-fh active" aria-hidden="true"></i>
				<i class="fa fa-play fa-fh inactive" aria-hidden="true"></i>
				<span class="inactive">Activar</span>
				<span class="active">Desactivar</span>
			<% end %>
			<%= link_to development do %>
				<i class="fa fa-external-link fa-fh" aria-hidden="true"></i>
				<span>Ver</span>
			<% end %>
			<%= link_to '#', class: 'showcase-item-toggle ' + (development.showcase_item.present? ? 'active' : ''), data: { id: (development.showcase_item.id rescue nil), showcaseable_id: development.id, showcaseable_type: 'Development' } do %>
				<i class="fa fa-spinner fa-pulse fa-fh"></i>
				<i class="fa fa-star fa-fh" aria-hidden="true"></i>
				<i class="fa fa-star-o fa-fh" aria-hidden="true"></i>
				<span>Showcase</span>
			<% end %>
		</div>
	<% end %>
</div>