<%= tinymce_init %>

<% content_for :extra_js do %>
  Property.new();
  Panel.promotionToggle('<%= promotions_path %>');
  $('#file_picker').filePicker({ imageable_type: 'property' });
  $('#toggle_view').click(function(e) {
    $('#property_list, #new_property, .toggle-view').fadeToggle();
    if ($(this).text() == 'Agregar unidad') $(this).text('Ver unidades');
    else $(this).text('Agregar unidad');
  });
<% end %>

<% if @development.properties.present? && @property.blank? %>
  <% @form_style = 'display:none;' %>
  <%= button_tag 'Agregar unidad', class: 'btn btn-primary btn-sm', id: 'toggle_view', style: 'margin:-10px 0 20px;' %>
  <%= button_tag 'Finalizar carga de unidades', class: 'btn btn-sm btn-success',  style: 'margin:-10px 0 20px;', data: { submit: 'form.edit_development' } %>
  <div class="mar-xs-S-30" id="property_list">
    <% @development.properties.each do |property| %>
      <%= render 'properties/card', property: property, format: :development %>
    <% end %>
  </div>
<% end %>

<% if @property.present? %>
  <%= link_to 'Cancelar edición', edit_development_path(@development, development_step_from_status(:properties)), class: 'btn btn-primary btn-sm', style: 'margin:-10px 0 20px;' %>
  <%= button_tag 'Finalizar carga de unidades', class: 'btn btn-sm btn-success',  style: 'margin:-10px 0 20px;', data: { submit: 'form.edit_development' } %>
<% end %>

<%= form_for(@development) do |f| %>
  <%= render 'form_errors' %>
  <%= f.hidden_field :status, value: @development.active? ? :active : :characteristics %>
<% end %>

<%= form_for(@property = (@property.present? ? @property : @development.properties.new), html: { style: @form_style }) do |f| %>
  <%= render 'properties/form_errors' %>
  <div class="hidden">
    <%= hidden_field_tag 'after_save_path', edit_development_path(@development, @development.step) %>
    <%= f.hidden_field :development_id, value: @development.id %>
    <%= file_field_tag 'file_picker', multiple: true, required: true, accept: 'image/*', data: { :images => '.file-picker-images', :template => '#file_picker_template' } %>
  </div>
  <div class="field">
    <%= f.label :title, 'Titulo' %><br>
    <%= f.text_field :title, minlength: 10, required: true %>
  </div>
  <div class="field">
    <%= f.label :info, 'Descripción corta <small>(opcional)</small>'.html_safe %><br>
    <%= f.text_field :info, minlength: 10, maxlength: 120 %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description, rows: 4, minlength: 30, required: true, class: 'tinymce' %>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :property_type_id, 'Tipo de propiedad' %><br>
        <%= f.select :property_type_id, options_from_collection_for_select(PropertyType.all, :id, :name, @property.property_type_id), { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-4">
        <%= f.label :environments, 'Ambientes' %><br>
        <%= f.select :environments, options_for_select([1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.environments || 1) %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :bathrooms, 'Baños' %><br>
        <%= f.select :bathrooms, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.bathrooms || 0) %>
      </div>
      <div class="col-xs-4">
        <%= f.label :toilettes, 'Toilettes' %><br>
        <%= f.select :toilettes, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.toilettes || 0) %>
      </div>
      <div class="col-xs-4">
        <%= f.label :garages, 'Cocheras' %><br>
        <%= f.select :garages, options_for_select([0,1,2,3,4,5,6,7,8,9,['10 o más', 10]], @property.garages || 0) %>
      </div>
    </div>
  </div>
  <div class="field">
    <h3 class="field-title">Precio</h3>
    <div class="row">
      <div class="col-xs-2 currency-ars">
        <%= f.label :expenses, 'Expensas' %><br>
        <%= f.text_field :expenses, class: 'autonumeric' %>
      </div>
      <div class="col-xs-2">
        <%= f.label :sale_currency, '&nbsp'.html_safe %><br>
        <%= f.select :sale_currency, options_for_select(Property.currencies, @property.sale_currency), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-3">
        <%= f.label :sale_price, 'Precio de venta' %><br>
        <%= f.text_field :sale_price, class: 'autonumeric' %>
      </div>
      <div class="col-xs-2">
        <%= f.label :rent_currency, '&nbsp'.html_safe %><br>
        <%= f.select :rent_currency, options_for_select(Property.currencies, @property.rent_currency || 1), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-3">
        <%= f.label :rent_price, 'Precio de alquiler' %><br>
        <%= f.text_field :rent_price, class: 'autonumeric' %>
      </div>
    </div>
  </div>
  <div class="field">
    <h3 class="field-title">Dimensiones</h3>
    <div class="row">
      <div class="col-xs-2">
        <%= f.label :area_unit, '&nbsp'.html_safe %><br>
        <%= f.select :area_unit, options_for_select(Property.area_units.keys, @property.area_unit), {}, { data: { mobile: browser.mobile? } } %>
      </div>
      <div class="col-xs-5">
        <%= f.label :constructed_area, 'Sup. cubierta' %><br>
        <%= f.text_field :constructed_area, required: true, class: 'autonumeric' %>
      </div>
      <div class="col-xs-5">
        <%= f.label :unconstructed_area, 'Sup. descubierta' %><br>
        <%= f.text_field :unconstructed_area, required: true, class: 'autonumeric' %>
      </div>
    </div>
  </div>
  <div class="field file-picker">
    <h3 class="field-title">Fotos</h3>
    <%= label_tag 'file_picker', nil, class: 'file-picker-label' do %>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span>Agregar imágenes</span>
    <% end %>
    <div class="file-picker-images">
      <% @property.images.each_with_index do |image, index| %>
        <%= render 'partials/file_picker_image', image: image, index: index %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar unidad' %>
  </div>
<% end %>

<% #template %>
<%= render 'partials/file_picker_image' %>