<h1 class="text-center" style="margin-bottom:30px;"><i class="fa fa-sliders fa-fh" aria-hidden="true"></i> Panel Beigel</h1>

<div class="row">
	<div class="col-xs-6 col-xs-push-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-user fa-fh" aria-hidden="true"></i> <%= current_admin.email %></h3>
		  </div>
		  <div class="panel-body">
		  	<div class="panel-actions-3">
		  		<%= link_to contacts_path do %>
  					<i class="fa fa-exclamation-circle fa-fh" aria-hidden="true"></i>
  					<span>Notificaciones</span>
  				<% end %>
  				<%= link_to edit_admin_registration_path do %>
  					<i class="fa fa-edit fa-fh" aria-hidden="true"></i>
  					<span>Editar cuenta</span>
  				<% end %>
  				<%= link_to destroy_admin_session_path, method: :delete do %>
  					<i class="fa fa-sign-out fa-fh" aria-hidden="true"></i>
  					<span>Sign out</span>
  				<% end %>
  			</div>
		  </div>
		</div>
	</div>
	<div class="col-xs-3 col-xs-pull-6">
		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-star fa-fh" aria-hidden="true"></i> Showcase</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="panel-actions-1">
		  		<%= link_to showcase_items_path do %>
		  			<i class="fa fa-star fa-fh" aria-hidden="true"></i>
						<span>Showcase</span>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-xs-3 col-xs-pull-6">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-star fa-fh" aria-hidden="true"></i> Promociones</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="panel-actions-1">
		  		<%= link_to promotions_path do %>
		  			<i class="fa fa-bomb fa-fh" aria-hidden="true"></i>
						<span>Promociones</span>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-home fa-fh" aria-hidden="true"></i> Inmuebles</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="panel-actions">
		  		<%= link_to properties_path do %>
						<i class="fa fa-list-ul fa-fh" aria-hidden="true"></i>
						<span>Ver todos</span>
					<% end %>
			  	<%= link_to new_property_path do %>
			  		<i class="fa fa-pencil-square-o fa-fh" aria-hidden="true"></i>
						<span>Nuevo</span>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-building-o fa-fh" aria-hidden="true"></i> Emprendimientos</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="panel-actions">
		  		<%= link_to developments_path do %>
						<i class="fa fa-list-ul fa-fh" aria-hidden="true"></i>
						<span>Ver todos</span>
					<% end %>
		  		<%= link_to new_development_path do %>
			  		<i class="fa fa-pencil-square-o fa-fh" aria-hidden="true"></i>
						<span>Nuevo</span>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
</div>