<% if request.subdomain[/panel/] %>
	<div class="admin-navigation">
		<div>
			<% if admin_signed_in? %>
				<%= link_to panel_path do %>
					<i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Panel
				<% end %>
			<% end %>
		</div>
		<div class="btn-group">
			<% if admin_signed_in? %>
				<a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true"></i> &nbsp; <%= current_admin.email %>
				</a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to edit_admin_registration_path do %>
							<i class="fa fa-edit" aria-hidden="true"></i> Editar
						<% end %>
					</li>
			    <li>
						<%= link_to destroy_admin_session_path, method: :delete do %>
							<i class="fa fa-sign-out" aria-hidden="true"></i> Salir
						<% end %>
					</li>
				</ul>
			<% else %>
				<%= link_to panel_path do %>
					<i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>