<% if request.subdomain[/panel/] %>
	<div class="admin-navigation">
		<div class="admin-brand">
			<%= link_to home_path do %>
				<%= image_tag 'android-icon-192x192.png' %>
			<% end %>
		</div>
		<div class="btn-group">
			<% if admin_signed_in? %>
				<%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria_haspopup: 'true', aria_expanded: false do -%>
					<i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Opciones
				<% end %>
				<ul class="dropdown-menu">					
					<li>
						<%= link_to path_to_home do %>
							<i class="fa fa-bold fa-fw" aria-hidden="true"></i> &nbsp; Web
						<% end %>
					</li>
					<li class="dropdown-header">Listas</li>
					<li>
						<%= link_to properties_path do %>
							<i class="fa fa-home fa-fw" aria-hidden="true"></i> &nbsp; Inmuebles
						<% end %>
					</li>
					<li>
						<%= link_to panel_path do %>
							<i class="fa fa-building-o fa-fw" aria-hidden="true"></i> &nbsp; Emprendimientos
						<% end %>
					</li>
					<li class="dropdown-header">Crear</li>
					<li>
						<%= link_to new_property_path do %>
							<i class="fa fa-home fa-fw" aria-hidden="true"></i> &nbsp; Inmueble
						<% end %>
					</li>
					<li>
						<%= link_to panel_path do %>
							<i class="fa fa-building-o fa-fw" aria-hidden="true"></i> &nbsp; Emprendimiento
						<% end %>
					</li>
				</ul>
			<% end %>
		</div>
		<div class="btn-group">
			<% if admin_signed_in? %>
				<%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria_haspopup: 'true', aria_expanded: false do -%>
					<i class="fa fa-user" aria-hidden="true"></i> &nbsp; <%= current_admin.email %>
				<% end %>
				<ul class="dropdown-menu">
					<li>
						<%= link_to edit_admin_registration_path do %>
							<i class="fa fa-edit fa-fw" aria-hidden="true"></i> Editar
						<% end %>
					</li>
			    <li>
						<%= link_to destroy_admin_session_path, method: :delete do %>
							<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Salir
						<% end %>
					</li>
				</ul>
			<% else %>
				<%= link_to panel_path do %>
					<i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>