<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<div class="brand">
					<%= link_to root_path do %>
						<%= image_tag 'brand-logo.png', alt: 'Beigel Bienes Raices', class: 'brand-logo' %>
					<% end %>
					<%= link_to '4553-1700', 'tel:+541145531700', class: 'brand-tel' %>
				</div>
			</div>
			<div class="col-xs-3">
				<ul class="list-unstyled footer-navigation">
					<li><%= link_to 'Home', root_path, class: nav_class('home') %></li>
					<li><%= link_to 'Servicios', services_path, class: nav_class(['services', 'assessments', 'investments']) %></li>
					<li><%= link_to 'Emprendimientos', developments_path, class: nav_class('developments') %></li>
					<li><%= link_to 'Comprar', buy_path, class: nav_class('buy') %></li>
					<li><%= link_to 'Alquilar', rent_path, class: nav_class('rent') %></li>
					<li><%= link_to 'Empresas amigas', friends_path, class: nav_class('friends') %></li>
					<li><%= link_to 'La Empresa', about_path, class: nav_class('about') %></li>
					<li><%= link_to 'Contacto', contact_path, class: nav_class('contact') %></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<h4>Contacto</h4>
				<ul class="list-unstyled footer-contact">
					<li>
						<%= link_to 'tel:+541145531700' do %>
							<div class="icon">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
								</span>
							</div>
							<div><strong>Teléfono</strong></div>
							<div><span>4553-1700</span></div>
						<% end %>
					</li>
					<li>
						<%= link_to 'mailto:info@beigel.com.ar' do %>
							<div class="icon">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
								</span>
							</div>
							<div><strong>Email</strong></div>
							<div><span>info@beigel.com.ar</span></div>
						<% end %>
					</li>
					<li>
						<%= link_to 'https://www.facebook.com/BEIGEL-Bienes-Raices-18748629592/?fref=ts', target: '_blank' do %>
							<div class="icon">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</div>
							<div><strong>Facebook</strong></div>
							<div><span>Beigel Bienes Raices</span></div>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="col-xs-3">
				<div class="footer-contact-form">
					<p>Dejanos tu mail y nos contactaremos para asesorarte.</p>
					<%= form_tag '', method: :post, role: 'form', class: 'alternative-inputs' do %>
						<div class="form-group">
							<%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email' %>
						</div>
						<%= submit_tag 'Enviar', class: 'btn btn-sm btn-primary btn-fix' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-legend">
		<p>
			2016 - Beigel Bienes Raices. Todos los derechos reservados. &nbsp; &nbsp; &nbsp;
			Powered by <%= link_to 'http://vertigodesign.com.ar' do %>
				<%= image_tag 'logo-vertigo.png', class: 'inline' %>
			<% end %>
		</p>
	</div>
</footer>