<% if admin_signed_in? %>
	<div class="admin-navigation">
		<div>
			<span>
				<i class="fa fa-user" aria-hidden="true"></i> &nbsp; <%= current_admin.email %>
			</span>
		</div>
		<div>
			<%= link_to destroy_admin_session_path, method: :delete do %>
				<i class="fa fa-sign-out" aria-hidden="true"></i> Salir
			<% end %>
		</div>
	</div>
<% end %>
<header>
	<div class="container">
		<div class="nav-toggler">
			<%= link_to '#', id: 'nav-toggler' do %>
				<i class="fa fa-bars"></i>
			<% end %>
		</div>
		<div class="brand">
			<h1>
				<%= link_to root_path do %>
					<%= image_tag 'brand-logo.png', alt: 'Beigel Bienes Raices', class: 'brand-logo' %>
				<% end %>
			</h1>
			<%= link_to '4553-1700', 'tel:+541145531700', class: 'brand-tel' %>
		</div>
		<div class="navigation">
			<%= render 'partials/navigation', format: :header %>
		</div>
	</div>
</header>
<section class="navigation-menu" id="nav">
	<%= render 'partials/navigation', format: :menu %>
</section>