<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'admin' if request.subdomain[/panel/] %>">
	<div class="body">
		<%= render 'layouts/admin_nav' %>
		<%= render 'layouts/navigation' %>
		<div class="page-container">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</div>
	<%= render 'modals/generic' %>
	<%= render 'modals/notice' %>
	<script>
		$(function() {
			Utils.init();
			<%= yield :extra_js if content_for? :extra_js %>
		});
	</script>
	<%= yield :extra_script if content_for? :extra_script %>
</body>
</html>