<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/navigation' %>
	<div class="page-container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
	<%= render 'modals/generic' %>
	<%= render 'modals/notice' %>
	<script>
		$(function() {
			<%= yield :extra_js if content_for? :extra_js %>
		});
	</script>
	<%= yield :extra_script if content_for? :extra_script %>
</body>
</html>