<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'admin' if admin_signed_in? %>">
	<div class="body">
		<%= render 'layouts/navigation' %>
		<div class="page-container">
			<section class="main-image" style="background-image: url('<%= asset_path('main-image-7.jpg') %>')"></section>
			<div class="page-content form-format">
				<div class="container bg-white pad-xs-NS-50">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
		<%= render 'modals/generic' %>
		<%= render 'modals/notice' %>
	</div>
	<script>
		$(function() {
			Utils.init();
			<%= yield :extra_js if content_for? :extra_js %>
		});
	</script>
	<%= yield :extra_script if content_for? :extra_script %>
</body>
</html>