<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application_panel', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="admin">
	<div class="body">
		<%= render 'layouts/admin_nav' %>
		<div class="page-container">
			<section class="main-image" style="background-image: url('<%= asset_path('main-image-7.jpg') %>')"></section>
			<div class="page-content">
				<div class="container-fluid bg-white <%= controller_name[/sessions|registrations|passwords|properties/].to_s %>">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
	<%= render 'modals/generic' %>
	<%= render 'modals/notice' %>
	<script>
		$(function() {
			Utils.selectpicker();
			<%= yield :extra_js if content_for? :extra_js %>
		});
	</script>
	<%= yield :extra_script if content_for? :extra_script %>
</body>
</html>
